@model IEnumerable<Etrade.Entity.Models.Entities.Product>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var product in Model)
    {
        <div class="col">
            <div class="card h-100">
                <img src="~/image/@product.Image" class="card-img-top" alt="@product.Name">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                </div>
                <div class="card-footer">
                    <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary btn-sm float-end">Details</a>
                </div>
            </div>
        </div>
    }
</div>
