@model IEnumerable<Etrade.Entity.Models.Entities.Product>
@{
    ViewData["Title"] = "Home Page";
}

<h1>e-Ticaret Sitesi Demo</h1>
<p class="cold-md-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, saepe ut! Omnis architecto quasi culpa, facilis sunt atque obcaecati deleniti doloremque dolore autem tempore hic dignissimos odit? Molestias, placeat totam.</p>
<div id="carouselExampleIndicators" class="carousel slide my-4">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner rounded-3">
        <div class="carousel-item active">
            <img src="~/image/Canon.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/image/iphone.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/image/Macbook.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--1.Yöntem-->
@*@await Html.PartialAsync("_ProductList",Model)*@ <!--Veri tabanı kullanıldıgında async kullanılır.-->

<!--2. Yöntem-->
    <partial name="_ProductList" for="@Model" />